/*
## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/*
.collors {
  margin: 0px;
  background-color: hsl(225, 100%, 98%);
  background-color: hsl(225, 100%, 94%);
  background-color: hsl(245, 75%, 52%);
  background-color: hsl(225, 100%, 98%);
  background-color: hsl(224, 23%, 55%);
  background-color: hsl(223, 47%, 23%);
}
*/
body {
  margin: 0;
  color: hsl(224, 23%, 55%);
  background-color: hsl(225, 100%, 1);
  font-family: "Red Hat Display", sans-serif;
  background: url(images/pattern-background-desktop.svg) no-repeat top left,
    hsl(225deg 78% 95%);
  width: 100%;
}

.card {
  width: 360px;
  height: auto;
  border-radius: 10px;
  margin: 20vh auto;
  font-size: 16px;
  background-color: #fff;
}

.card-head {
}

.card-head img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-body {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.card-body h2 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
}

.card-info {
  background-color: hsl(230, 90%, 97%);
  border-radius: 10px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5px;
  margin-top: 1em;
}

.card-info img {
  width: 40px;
  height: 40px;
  margin: auto;
}

.card-info-mid {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: auto;
}
.card-info-mid p {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  margin-left: 10px;
}

.first-line {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.card-info span {
  margin: auto;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  cursor: pointer;
}
.card-info span:hover {
  color: hsl(245, 60%, 65%);
}

.button {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  border-radius: 10px;
  height: auto;
  margin-top: 20px;
  padding: 8px 0;
  -webkit-box-shadow: 0px 8px 15px -4px hsl(245, 65%, 59%);
  box-shadow: 0px 8px 15px -4px hsl(245, 65%, 59%);
  cursor: pointer;
}

.button:hover {
  background-color: hsl(245, 65%, 59%);
}

.cancel-order:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 400px) {
  .card {
    width: 320px;
    margin: 5vh auto;
  }

  body {
    background: url(images/pattern-background-mobile.svg) no-repeat top left,
      hsl(225deg 78% 95%);
    background-size: contain;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: url(images/pattern-background-mobile.svg) no-repeat top left,
      hsl(225deg 78% 95%);
    background-size: contain;
  }
  .card {
    width: 300px;
  }
}
